.priority1 {
    background-color: rgb(22 192 65);
}

.priority2 {
    background-color: rgb(27 170 82);
}

.priority3 {
    background-color: rgb(34 134 108);
}

.priority4 {
    background-color: rgb(41 95 136);
}

.priority5 {
    background-color: rgb(49 56 165);
}

.priority6 {
    background-color: rgb(62 18 190);
}

.priority7 {
    background-color: rgb(100 15 179);
}

.priority8 {
    background-color: rgb(140 10 166);
}

.priority9 {
    background-color: rgb(176 7 156);
}

.priority10 {
    background-color: rgb(216 18 152);
}
